body {
  padding: 10px;
  background-color: rgb(137, 185, 222);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a:visited {
  color: black;
}

#home {
  width: 50px;
  height: 50px;
  border-radius: 20pt;
}

th {
  padding: 10px;
}

hr {
  border-color: #f9d230;
  width: 100%;
  background-color: #f9d230;
}

dt {
  font-size: 20px;
}

dd {
  font-size: 18px;
}

.myname {
  width: 100%;
  text-align: right;
  font-size: 20px;
  margin-right: 20px;
}

.skills-bottom {
  width: 100%;
  padding: 10px;
  border: 2px solid #f9d230;
}

img {
  display: flex;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  width: auto;
}

.images-logo {
  display: flex;
  flex-direction: row;
}

.img1 {
  display: flex;
  flex-direction: row;

  margin-left: 20px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-self: stretch;

  width: auto;
}

.index-header {
  display: flex;

  flex-direction: row;

  padding: 18px;
  margin-left: 0px;
  width: 100%;
}
.index-header > .img2 {
  display: flex;
  padding: 18px;
  margin: auto;
}

.contents {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
